<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFm-j4gB9meAjOiJRMiBv7UrVqQrHsmYM</string>
	<key>GCM_SENDER_ID</key>
	<string>813158882609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.task.psTask</string>
	<key>PROJECT_ID</key>
	<string>pstask-957bb</string>
	<key>STORAGE_BUCKET</key>
	<string>pstask-957bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813158882609:ios:16b8ee3fd1ed2280caa410</string>
</dict>
</plist>